{% load wagtailcore_tags  wagtailimages_tags  %}

<!-- Services Section -->
<section class="services-section">
    <div class="auto-container">
        <div class="set-title condition-title centered">
            <h2>{{ page.service_title }}</h2>
        </div>
        <div class="row clearfix">

            <!-- Services Block -->
            {% for service in page.service_block.all %}
                <div class="conditions-block col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="icon-box">
                            <span class="icon">
                                {% if service %}
                                    {% image service.icon fill-64x64 as icon %}
                                    <img src="{{ icon.url }}" alt="">
                                {% endif %}
                            </span>
                        </div>
                        <h3><a href="services-1.html">{{ service.title}}</a></h3>
                        <div class="text">{{ service.content|richtext}}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Services Section -->