{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load static bootstrap4 widget_tweaks %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<!--<div class="text-center">-->
    <!--<h1>{% trans "Password Reset" %}</h1>-->
    <!--{% if user.is_authenticated %}-->
    <!--{% include "account/snippets/already_logged_in.html" %}-->
    <!--{% endif %}-->

    <!--<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>-->

    <!--<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">-->
        <!--{% csrf_token %}-->
        <!--{{ form.as_p }}-->
        <!--<input type="submit" value="{% trans 'Reset My Password' %}" />-->
    <!--</form>-->

    <!--<p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>-->
<!--</div>-->
    <section class="login-page-section bg-white">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="d-flex align-items-center justify-content-center h-100">
                    <div class="d-flex flex-column login-form-section">
                        <div class="sec-title">
                            <h2>Password Reset</h2>
                            <div class="text">
                                <p>{% trans "Enter your email address below, we'll send you an email allowing you to reset it" %}</p>
                            </div>
                        </div>
                        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group">
                                    {% render_field field class="" placeholder=field.field.widget.attrs.placeholder %}
                                </div>
                            {% endfor %}
                            {% buttons %}
                                {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                {% endif %}

                                <button class="btn btn-primary form-control" type="submit">{% trans "Reset Password" %}</button>
                            {% endbuttons %}
                        </form>
                        <div class="text-center">
                            <p>{% blocktrans %}Please <a href="/contact-us"><span class="highlight">contact us</span></a> if you have any trouble reseting your password or
                                <a href="{{ login_url }}"><span class="highlight">Log in</span></a> if all right{% endblocktrans %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <img class="login-brand" src="{% static 'images/login.png' %}" />
            </div>
        </div>
	</section>
{% endblock %}