{% extends "base.html" %}

{% load static wagtailcore_tags widget_tweaks wagtailsettings_tags wagtailimages_tags %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<section class="contact-page-section">
    <div class="background"></div>
    <div class="auto-container contact-container">
        <div class="card shadow p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <div class="row clearfix">
                    <!-- Form Column -->
                    <div class="form-column col-lg-8 col-md-12 col-sm-12 my-3">
                        <div class="inner-column wow fadeInLeft messageSent" data-wow-delay="0ms">
                            {% if user.is_authenticated %}
                                {% include "account/snippets/already_logged_in.html" %}
                            {% endif %}
                            <img class="icon-brand" src="{% static 'images/email_small.png' %}" />
                            <div class="title-box">
                                <h3>Message sent</h3>
                            </div>
                            <p>{% blocktrans %}Thank you! We will response to you as fast as possible.{% endblocktrans %}</p>
                        </div>
                    </div>

                    <!-- Info Column -->
                    <div class="info-column col-lg-4 col-md-12 col-sm-12 my-3">
                        <div class="inner-column wow fadeInRight" data-wow-delay="0ms">
                            <!-- Title Box -->
                            <div class="title-box">
                                <h3>Contact us</h3>
                                <div class="title-text my-4">Get in touch with us for any questions about out industries or projects.</div>
                            </div>
                            <div class="contact-info-list">
                                <img class="icon-brand" src="{% static 'images/email_small.png' %}" />
                                <div>
                                    <div class="text email-us">Email us</div>
                                    <div class="text">{{ settings.home.GeneralSettings.email }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}