{% extends "base.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block content %}
<div class="cotainer">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Sign In</div>
                <div class="card-body">

                  <div class="text-center">
                    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
                  </div>
                  <div class="text-center">
                    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                      {% csrf_token %}
                      {% bootstrap_form form %}
                      {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                      {% endif %}
                      <button type="submit">{% trans "Sign Up" %} &raquo;</button>
                    </form>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}