{% load wagtailcore_tags  wagtailimages_tags  menus_tags wagtailsettings_tags %}
{% get_menu "main" as navigation %}
{% get_menu "footer" as footer %}
{% get_settings %}

<!--Main Footer-->
<footer class="main-footer">
    <div class="auto-container">

        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="row clearfix">

                <!--big column-->
                <div class="big-column col-lg-4 col-md-12 col-sm-12">
                    <div class="row clearfix">

                        <!--Footer Column-->
                        <div class="footer-column col-lg-12 col-md-12 col-sm-12">
                            <div class="footer-widget about-widget">
                                <div class="logo">
                                    {% if footer.nav_logo  %}
                                        {% image footer.nav_logo fill-165x48 as nav_logo %}
                                        <img src="{{ nav_logo.url }}" alt="Logo">
                                    {% endif %}
                                </div>
                                <!--<div class="text">{{ settings.home.GeneralSettings.footer_title }}</div>-->
                                <!--<div class="contactus-btn" data-wow-delay="0ms" data-wow-duration="1500ms">-->
                                    <!--<a href="/contact-us" class="theme-btn">Contact us</a>-->
                                <!--</div>-->
                                <div class="text"><b>{{ settings.home.GeneralSettings.footer_title }}</b></div>

                                <!--<ul class="footer-service-list terms-and-condition">-->
                                    <!--<li><a href="/pripacy">Privacy Policy</a></li>-->
                                    <!--<li><a href="/terms">Terms and Conditions</a></li>-->
                                <!--</ul>-->
                            </div>
                        </div>
                    </div>
                </div>

                <!--big column-->
                <div class="big-column col-lg-4 offset-lg-1 col-md-12 col-sm-12">
                    <div class="row clearfix">
                        <div class="footer-column col-lg-12 col-md-12 col-sm-12">
                            <div class="footer-widget services-widget">
                                <h2>Quck Links</h2>
                                <ul class="footer-service-list">
                                    {% for item in navigation.menu_items.all %}
                                        <li><a title="" href="{{ item.link }}" class="nav-item nav-link">{{ item.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <!--big column-->
                <div class="big-column col-lg-3 col-md-12 col-sm-12">
                    <div class="row clearfix">

                        <!--Footer Column-->
                        <div class="footer-column col-lg-12 col-md-12 col-sm-12">
                            <div class="footer-widget contact-widget">
                                <h2>Contact</h2>
                                <ul>
                                    <li><a href="/contact-us">Schedule a Live Demo</a></li>
                                    <li><a href="/contact-us">Receive a FREE Care Kit</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="clearfix narrow">
        <div class="text">{{ settings.home.GeneralSettings.copyright }}&nbsp;<a href="/pripacy">Privacy Policy</a>&nbsp;<a href="/terms">Terms and Conditions</a>
        </div>
    </div>
</footer>
