{% load wagtailcore_tags  wagtailimages_tags  menus_tags wagtailsettings_tags %}
{% get_menu "main" as navigation %}
{% get_menu "footer" as footer %}
{% get_settings %}

<!--Main Footer-->
<footer class="main-footer">
    <div class="auto-container">

        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="row clearfix">

                <!--big column-->
                <div class="big-column col-lg-3 col-md-12 col-sm-12">
                    <div class="row clearfix">

                        <!--Footer Column-->
                        <div class="footer-column col-lg-12 col-md-12 col-sm-12">
                            <div class="footer-widget about-widget">
                                <div class="logo">
                                    {% if footer.nav_logo  %}
                                        {% image footer.nav_logo fill-190x40 as nav_logo %}
                                        <img src="{{ nav_logo.url }}" alt="Logo">
                                    {% endif %}
                                </div>
                                <div class="text">{{ settings.home.GeneralSettings.footer_title }}</div>
                                <div class="contactus-btn" data-wow-delay="0ms" data-wow-duration="1500ms">
                                    <a href="/contact-us" class="theme-btn">Contact us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--big column-->
                <div class="big-column col-lg-3 col-md-12 col-sm-12">
                    <div class="row clearfix">
                        <div class="footer-column col-lg-12 col-md-12 col-sm-12">
                            <div class="footer-widget services-widget">
                                <h2>EXPLORE</h2>
                                <ul class="footer-service-list">
                                    {% for item in navigation.menu_items.all %}
                                            <li><a title="" href="{{ item.link }}" class="nav-item nav-link">{{ item.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <!--big column-->
                <div class="big-column col-lg-3 col-md-12 col-sm-12">
                    <div class="row clearfix">

                        <!--Footer Column-->
                        <div class="footer-column col-lg-12 col-md-12 col-sm-12">
                            <div class="footer-widget contact-widget">
                                <h2>Contact</h2>
                                <div class="number">{{ settings.home.GeneralSettings.phone }}</div>
                                <ul>
                                    <li>{{ settings.home.GeneralSettings.office_address }}</li>
                                    <li class="email"><a href="#">{{ settings.home.GeneralSettings.email }}</a></li>
                                    <li>{{ settings.home.GeneralSettings.working_hours }}</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <!--big column-->
                <div class="big-column col-lg-3 col-md-12 col-sm-12">
                    <div class="row clearfix">

                        <!--Footer Column-->
                        <div class="footer-column col-lg-12 col-md-12 col-sm-12">
                            <div class="footer-widget contact-widget">
                                <h2>FOLLOW US</h2>
                                <ul class="social-links">
                                    <li><a href="{{ settings.home.GeneralSettings.facebook }}"><span class="fab fa-facebook-f"></span></a></li>
                                    <li><a href="{{ settings.home.GeneralSettings.twitter }}"><span class="fab fa-twitter"></span></a></li>
                                    <li><a href="{{ settings.home.GeneralSettings.youtube }}"><span class="fab fa-youtube"></span></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="pull-left">
						<div class="copyright">{{ settings.home.GeneralSettings.copyright }}</div>
					</div>
                </div>

            </div>
        </div>
    </div>
</footer>
