{% extends 'base.html' %}
{% load wagtailcore_tags  wagtailimages_tags  %}

{% block title %}AdaptivMD{% endblock %}

{% block content %}
    <!--Main Slider-->
    {% include "home/slider/index.html" %}
    <!--End Main Slider-->

    <!-- Innovation Section -->
	{% include "home/innovation/index.html" %}
	<!-- End Innovation Section -->

    <!-- Service Section -->
	{% include "home/service/index.html" %}
	<!-- End Service Section -->

	<!-- Fluid Section One -->
    {% include "home/fluid/index.html" %}
	<!-- End Fluid Section One -->

	<!-- Video Section One -->
    {% include "home/video/index.html" %}
	<!-- End Video Section One -->

{% endblock %}




