{% load wagtailcore_tags wagtailimages_tags  menus_tags wagtailsettings_tags %}
{% get_menu "main" as navigation %}
{% get_settings %}

<header class="main-header">
    <!--Header Top-->
    <!--<div class="header-top">-->
        <!--<div class="auto-container clearfix">-->
            <!--<div class="top-left clearfix">-->
                <!--<div class="text">{{ settings.home.GeneralSettings.header_title }}</div>-->
                <!--&lt;!&ndash; Social Links &ndash;&gt;-->
                <!--<ul class="social-links clearfix">-->
                    <!--<li><a href="{{ settings.home.GeneralSettings.facebook }}"><span class="fab fa-facebook-f"></span></a></li>-->
                    <!--<li><a href="{{ settings.home.GeneralSettings.google }}"><span class="fab fa-google-plus-g"></span></a></li>-->
                    <!--<li><a href="{{ settings.home.GeneralSettings.twitter }}"><span class="fab fa-twitter"></span></a></li>-->
                    <!--<li><a href="{{ settings.home.GeneralSettings.linkedin }}"><span class="fab fa-linkedin-in"></span></a></li>-->
                    <!--<li><a href="{{ settings.home.GeneralSettings.youtube }}"><span class="fab fa-youtube"></span></a></li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div class="top-right clearfix">-->
                <!--&lt;!&ndash; Info List &ndash;&gt;-->
                <!--<ul class="info-list clearfix">-->
                    <!--<li><a href="#"><span class="txt">{{ settings.home.GeneralSettings.phone }}</span> <span class="icon fa fa-phone"></span></a></li>-->
                    <!--<li><a href="#"><span class="txt">{{ settings.home.GeneralSettings.email }}</span> <span class="icon fa fa-envelope-open"></span></a></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!-- End Header Top -->

    <!-- Header Upper -->
    <div class="header-upper">
        <div class="inner-container">
            <div class="auto-container clearfix">
                <!--Info-->
                <div class="logo-outer">
                    <div class="logo">
                        <a href="{% slugurl 'home' %}">
                            {% if navigation.nav_logo  %}
                                {% image navigation.nav_logo fill-200x48 as nav_logo %}
                                <img src="{{ nav_logo.url }}" alt="Logo">
                            {% endif %}
                        </a>
                    </div>
                </div>

                <!--Nav Box-->
                <div class="nav-outer clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu navbar-expand-lg navbar-light">
                        <div class="navbar-header">
                            <!-- Togg le Button -->
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fa fa-bars" aria-hidden="true"></i>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix">
                                {% for item in navigation.menu_items.all %}
                                    <li><a title="" href="{{ item.link }}" class="nav-item nav-link">{{ item.title }}</a></li>
                                {% endfor %}

                                {% if request.user.is_authenticated %}
                                    <li><a href="{% url 'account_logout' %}" class="nav-item nav-link">Logout</a></li>
                                {% else %}
                                    <li><a href="{% url 'account_login' %}" class="nav-item nav-link">Login</a></li>
                                {% endif %}
                                <li>
                                    <div class="btn-box">
                                        <a href="/contact-us" class="theme-btn btn-style-one">Request a Demo</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Main Menu End-->

                    <!-- Main Menu End-->
                    <!--<div class="outer-box clearfix">-->
                        <!--Search Box-->
                        <!--<div class="search-box-outer">-->
                            <!--<div class="dropdown">-->
                                <!--<button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>-->
                                <!--<ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu3">-->
                                    <!--<li class="panel-outer">-->
                                        <!--<div class="form-container">-->
                                            <!--<form method="post" action="blog.html">-->
                                                <!--<div class="form-group">-->
                                                    <!--<input type="search" name="field-name" value="" placeholder="Search Here" required>-->
                                                    <!--<button type="submit" class="search-btn"><span class="fa fa-search"></span></button>-->
                                                <!--</div>-->
                                            <!--</form>-->
                                        <!--</div>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!-- Button Box -->
                        <!--<div class="btn-box">-->
                            <!--<a href="/contact-us" class="theme-btn btn-style-one">Request a Demo</a>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
    <!--End Header Upper-->

    <!-- Sticky Header  -->
    <div class="sticky-header">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left">
                <a href="{% slugurl 'home' %}">
                    {% if navigation.nav_logo  %}
                        {% image navigation.nav_logo fill-200x48 as nav_logo %}
                        <img src="{{ nav_logo.url }}" alt="Logo">
                    {% endif %}
                </a>
            </div>
            <!--Right Col-->
            <div class="nav-outer pull-right">
                <!-- Main Menu -->
                <nav class="main-menu">
                    <div class="navbar-collapse show collapse clearfix">
                        <ul class="navigation clearfix">
                            {% for item in navigation.menu_items.all %}
                                    <li><a title="" href="{{ item.link }}" class="nav-item nav-link">{{ item.title }}</a></li>
                            {% endfor %}

                            {% if request.user.is_authenticated %}
                                <li><a href="{% url 'account_logout' %}" class="nav-item nav-link">Logout</a></li>
                            {% else %}
                            <li><a href="{% url 'account_login' %}" class="nav-item nav-link">Login</a></li>
                            {% endif %}
                            <li>
                                <div class="btn-box">
                                    <a href="/contact-us" class="theme-btn btn-style-one">Request a Demo</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav><!-- Main Menu End-->
            </div>
        </div>
    </div><!-- End Sticky Menu -->
</header>
<!-- End Main Header -->



