{% load wagtailcore_tags  wagtailimages_tags  %}

<!-- Skill Section -->
{% if page.feature_image %}
    {% image page.video_image fill-1920x760 as video_image %}
    <section class="skill-section" style="background-image:url({{ video_image.url }})">
        <div class="auto-container">
            <div class="row clearfix">

                <!-- Skill Column -->
                <div class="skill-column col-xl-7 col-lg-12 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <h2>{{ page.video_title|richtext }}</h2>
                    </div>
                </div>

                <!-- Video Column -->
                <div class="video-column col-xl-5 col-lg-5 col-md-12 col-sm-12">
                    <div class="inner-column clearfix">

                        <!--Video Box-->
                        <div class="video-link-box">
                            <a href="{{ page.video_url }}" class="lightbox-image play-box"><span class="icon-outer"><span class="icon flaticon-play-button"><i class="ripple"></i></span></span></a>
                            <div class="video-title">watch the intro video</div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
{% else %}
    <section class="skill-section">
        <div class="auto-container">
            <div class="row clearfix">

                <!-- Skill Column -->
                <div class="skill-column col-xl-7 col-lg-12 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <h2>{{ page.video_title|richtext }}</h2>
                    </div>
                </div>

                <!-- Video Column -->
                <div class="video-column col-xl-5 col-lg-5 col-md-12 col-sm-12">
                    <div class="inner-column clearfix">

                        <!--Video Box-->
                        <div class="video-link-box">
                            <a href="{{ page.video_url }}" class="lightbox-image play-box"><span class="icon-outer"><span class="icon flaticon-play-button"><i class="ripple"></i></span></span></a>
                            <div class="video-title">watch the intro video</div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
{% endif %}
<!-- End Skill Section -->