{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% wagtail_site as current_site %}
                {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

        {# Global stylesheets #}
        <!-- Stylesheets -->
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'plugins/revolution/css/settings.css' %}" rel="stylesheet" type="text/css"><!-- REVOLUTION SETTINGS STYLES -->
        <link href="{% static 'plugins/revolution/css/layers.css' %}" rel="stylesheet" type="text/css"><!-- REVOLUTION LAYERS STYLES -->
        <link href="{% static 'plugins/revolution/css/navigation.css' %}" rel="stylesheet" type="text/css"><!-- REVOLUTION NAVIGATION STYLES -->

        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
        <!--<link href="{% static 'css/AdaptivMD.css' %}" rel="stylesheet" type="text/css" >-->

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        <!--[if lt IE 9]><script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
        <!--[if lt IE 9]><script type="text/javascript" src="{% static 'js/respond.js' %}"></script><![endif]-->
    </head>

    <body class="{% block body_class %}{% endblock %}">
        <div class="page-wrapper">
            <!-- Preloader -->
            <div class="preloader"></div>

            {% wagtailuserbar %}

            {% include 'home/navbar.html' %}
            {% block content %}{% endblock %}
            {% include 'home/footer.html' %}
            {# Global javascript #}
            <script type="text/javascript" src="{% static 'js/AdaptivMD.js' %}"></script>

            {% block extra_js %}
                {# Override this in templates to add extra javascript #}
            {% endblock %}
        </div>

        <script src="{% static 'js/jquery.js' %}"></script>

        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery-ui.js' %}"></script>
        <script src="{% static 'js/validate.js' %}"></script>


        <!--Revolution Slider-->
        <script src="{% static 'plugins/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
        <script src="{% static 'plugins/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
        <script src="{% static 'plugins/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
        <script src="{% static 'plugins/revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
        <script src="{% static 'plugins/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
        <script src="{% static 'plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
        <script src="{% static 'plugins/revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
        <script src="{% static 'plugins/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
        <script src="{% static 'plugins/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
        <script src="{% static 'plugins/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
        <script src="{% static 'plugins/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
        <script src="{% static 'js/main-slider-script.js' %}"></script>
        <!--Revolution Slider-->

        <script src="{% static 'js/jquery-ui.js' %}"></script>
        <script src="{% static 'js/jquery.fancybox.js' %}"></script>
        <script src="{% static 'js/owl.js' %}"></script>
        <script src="{% static 'js/wow.js' %}"></script>
        <script src="{% static 'js/appear.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>
