{% extends 'base.html' %}
{% load wagtailcore_tags  wagtailimages_tags  %}

{% block title %}AdaptivMD{% endblock %}

{% block content %}
    <!--Main Slider-->
    {% include "physician/slider/index.html" %}
    <!--End Main Slider-->

    <!-- Innovation Section -->
	{% include "physician/innovation/index.html" %}
	<!-- End Innovation Section -->

    <!-- Fluid Section One -->
    {% include "physician/fluid/index.html" %}
	<!-- End Fluid Section One -->

    <!-- Service Section -->
	{% include "physician/service/index.html" %}
	<!-- End Service Section -->

	<!-- Infographic Section -->
	{% include "physician/infographic/index.html" %}
	<!-- End Infographic Section -->


    <!-- Management Section -->
	{% include "physician/management/index.html" %}
	<!-- End Service Section -->

    <!-- Outcome Section -->
	{% include "physician/outcome/index.html" %}
	<!-- End Service Section -->

{% endblock %}




