{% load wagtailcore_tags  wagtailimages_tags  %}

<!-- Features Section Two -->
<section class="features-section-two alternate about-mission-section">
    <div class="auto-container">
        <!-- Feature Block Seven -->
        <div class="feature-block-seven style-two">
            <div class="row clearfix">
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="sec-title">
                        <h2>{{ page.mission_title }}</h2>
                    </div>
                    <div class="text"><ul class="list-style-one list-left">{{ page.mission_about|richtext }}</ul></div>
                </div>
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="inner-column wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <figure class="image-box">
                            {% if page.mission_image %}
                                {% image page.mission_image fill-570x364 as image %}
                                <img src="{{ image.url }}" alt="" />
                            {% endif %}
                        </figure>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>