{% load wagtailcore_tags  wagtailimages_tags  %}

<!-- Services Section -->
<section class="services-section  clinician-service-section">
    <div class="auto-container">
        <div class="sec-title">
            <h2>{{ page.gallery_title }}</h2>
        </div>
        {% if page.devices_description %}
            <div class="text">{{ page.devices_description|richtext }}</div>
        {% endif %}
        <div class="row clearfix">

            <!-- Services Block -->
            {% for device in page.devicegallery_block.all %}
                <div class=" col-lg-12 col-md-12">
                    {% if device.title %}
                        <div class="sec-title">
                            <h3>{{ device.title }}</h3>
                        </div>
                    {% endif %}
                    <div class="gallery-container1">
                        <div class="gallery-photo">
                                {% if device %}
                                    {% image device.gallery fill-988x214 as gallery %}
                                    <img src="{{ gallery.url }}" alt="">
                                {% endif %}
                        </div>
                        <!--<div class="gallery-photo2">-->
                                <!--{% if device %}-->
                                    <!--{% image device.device1 fill-100x100 as device1 %}-->
                                    <!--<img src="{{ device1.url }}" alt="">-->
                                <!--{% endif %}-->
                        <!--</div>-->
                        <!--<div class="gallery-photo3">-->
                                <!--{% if device %}-->
                                    <!--{% image device.device2 fill-100x100 as device2 %}-->
                                    <!--<img src="{{ device2.url }}" alt="">-->
                                <!--{% endif %}-->
                        <!--</div>-->
                        <!--<div class="gallery-photo4">-->
                                <!--{% if device %}-->
                                    <!--{% image device.device3 fill-100x100 as device3 %}-->
                                    <!--<img src="{{ device3.url }}" alt="">-->
                                <!--{% endif %}-->
                        <!--</div>-->
                        <!--<div class="gallery-photo5">-->
                                <!--{% if device %}-->
                                    <!--{% image device.device4 fill-100x100 as device4 %}-->
                                    <!--<img src="{{ device4.url }}" alt="">-->
                                <!--{% endif %}-->
                        <!--</div>-->
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Services Section -->