{% load wagtailcore_tags  wagtailimages_tags  %}

<!-- Infographic Section -->
<section class="infographic-section features-section-two alternate">
    <div class="auto-container">
        <div class="set-title condition-title centered">
            <h2>{{ page.infographic_title }}</h2>
        </div>

        <div class="inner-column wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
            <figure class="image-box">
                {% if page.infographic_gallery %}
                    {% image page.infographic_gallery fill-1120x587 as image %}
                    <img src="{{ image.url }}" alt="" />
                {% endif %}
            </figure>
        </div>
    </div>
</section>
<!-- End Services Section -->