{% load wagtailcore_tags  wagtailimages_tags  %}

<section class="main-slider">

    <div class="rev_slider_wrapper fullwidthbanner-container"  data-source="gallery">
        <div class="rev_slider fullwidthabanner" data-version="5.4.1">
            {% if page.primary_image %}
                {% image page.primary_image fill-1920x760 as primary_image %}
                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="{{ primary_image.url }}">
            {% endif %}
        </div>
    </div>
</section>
