{% load wagtailcore_tags  wagtailimages_tags  %}

<!-- Features Section Two -->
<section class="features-section-two alternate workflow-section">
    <div class="auto-container">
        <!-- Feature Block Seven -->
        <div class="feature-block-seven style-two">
            <div class="row clearfix">
                <div class="image-column col-lg-6 col-md-12 col-sm-12 order-2">
                    <div class="inner-column wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <figure class="image-box">
                            {% if page.innovation_image1 %}
                                {% image page.innovation_image1 fill-570x364 as image1 %}
                                <img src="{{ image1.url }}" alt="" />
                            {% endif %}
                        </figure>
                    </div>
                </div>
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <!-- Sec Title -->
                        <div class="sec-title">
                            {% if page.innovation_title1 != '' %}
                                <div class="title">{{ page.innovation_title1 }}</div>
                            {% endif %}
                            <h2>{{ page.innovation_about1 }}</h2>
                        </div>
                        <div class="text">{{ page.innovation_highlight1|richtext }}</div>
                        <!--<div class="link-box"><a href="chemical-research.html">Read More <i class="fa fa-angle-right"></i></a></div>-->
                    </div>
                </div>
            </div>
        </div>

        <!-- Feature Block Seven -->
        <div class="feature-block-seven">
            <div class="row clearfix">
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="videoWrapper">
                            {% if page.video_url %}
                                <iframe width="560" height="349" src="{{ page.video_url }}"
                                        title="{{ page.video_title|richtext }}"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                                </iframe>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column wow fadeInRight right_align" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <!-- Sec Title -->
                        <div class="sec-title">
                            {% if page.innovation_title2 != '' %}
                                <div class="title">{{ page.innovation_title2 }}</div>
                            {% endif %}
                            <h2>{{ page.innovation_about2 }}</h2>
                        </div>
                        <div class="text">{{ page.innovation_highlight2|richtext }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Features Section Two -->
